<%= form_for @garden, html: {multipart: true} do |f| %>
  <% if @garden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garden.errors.count, "error") %> prohibited this garden from being saved:</h2>

      <ul>
      <% @garden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<p> <%= f.file_field :g_image %></p>
	<p> <%= f.text_field :description %></p>
    <%= f.submit %>
  </div>
<% end %>
